.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: calc(100vh - 50px);
  grid-template-areas: 
    "image login";
    background-color: #fe9e86;
}

.imageContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-content:center;
  align-items: center;
  justify-content: center;  
  justify-items: center;
}

img {
  max-width: 100%;
}

.loginContainer {
  display: grid;
  align-content: center;
}

.loginInput {
  border: none;
  border-radius: 5px;
  padding: 20px; 
  outline: none;
  width: 70%;
}

.loginTitle {

}

.cancelButton {
  background: red;
  color: white;
}

