.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 500px;
  background-color: #fe9e86;
  border-radius: 15px;
  padding: 0 90px;
  box-sizing: border-box;
}

.loginIllustration {
  width: 500px;
}

.loginActionBox {
  margin-bottom: 100px;
}

.loginTitle {
  font-weight: 700;
  margin-bottom: 50px;
  color: white;
}

.loginInput {
  width: 230px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
}
