.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: calc(100vh - 50px);
  grid-template-areas: 
    "image login";
    background-color: #fe9e86;
}

.imageContainer {

}

.loginContainer {
  display: grid;
  align-content: center;
}

.loginInput {
  border: none;
  border-radius: 5px;
  padding: 20px; 
  width: 70%;
  color: #A4A4A4;
}

.loginTitle {

}


